<th:block th:fragment="blog-list">
	<div class="adv">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <!--Begin-->
                    <div class="product-content ng-scope" ng-controller="productController" ng-init="initProductPromotionSlideController('ProductPromotionSlides')">
                        <h2 class="page-heading">
                            <span class="page-heading-title">
                                Tin tức nổi bật
                            </span>
                        </h2>
                        <div class="blog-list-wapper">
                        	<div id="blog-list-slider" class="owl-carousel product-list">
                    		<th:block th:each="newsItem : ${news}">
                    			<div class="col-md-12" >
									<li style="list-style: none;">
										<div class="post-thumb image-hover2">
                                        	<a href=""><img src="http://runecom02.runtime.vn/Uploads/shop2198/images/news/blog4.jpg" alt="Diện váy xẻ cao quyến rũ như Miranda Kerr"></a>
                                        </div>
                                    	<div class="post-desc">
                                                <h5 class="post-title">
                                                    <a href="">[[${newsItem.name}]]</a>
                                                </h5>
                                                <div class="post-meta">
                                                    
                                                    <span class="date">
                                                        12/08/2017
                                                    </span>
                                                    <span class="comment">0<span> Bình luận</span></span>
                                                </div>
                                                <div class="readmore">
                                                    <a href="">Xem thêm</a>
                                                </div>
                                            </div>
									</li>
									
									
								</div>
								
								
                    		</th:block>
                    		
							
                    	</div>
                        </div>
                    	
                        <!--End-->
                    </div>
                </div>
            </div>
        </div>
</th:block>