<th:block th:fragment="category-featured">
	<div class="row">
                    <div class="col-md-12">

                        <div class="content-page">
                            <div class="container">
                            <th:block th:each="category,itrStat : ${productCategory}">
                            	<div class="category-featured featured1">
                                    <nav class="navbar nav-menu show-brand">
                                        <div class="container">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-brand"><a href="/san-pham/thoi-trang-40412"><img src="http://runecom02.runtime.vn/Uploads/shop2198/images/icon/s5.png">[[${category.name}]]</a></div>
                                            
                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            
                                        </div><!-- /.container-fluid -->
                                        
                                    </nav>
                                    <div class="product-featured clearfix">
                                        <div class="row">
                                            
                                            <div class="col-sm-10 col-right-tab">
                                                <div class="product-featured-tab-content">
                                                    <div class="tab-container">
                                                        <div class="tab-panel active" id="tab_1">
                                                            <div class="box-left">
                                                                <div class="banner-img">
                                                                    <a href="">
                                                                    	<img src="http://runecom02.runtime.vn/Uploads/shop2198/images/banner/banner-product1.jpg" alt="Thời trang">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="box-right">
                                                                <ul class="product-list row">
                                                                <th:block th:each="product,itrStat : ${category.listProduct}">
                                                                	<li class="col-sm-4">
                                                                        <div class="right-block">
                                                                            <h5 class="product-name"><a href="/san-pham/dam-body-ca-tinh-voi-nhieu-mau-sac-hien-dai-tre-trung.html">[[${product.name}]]</a></h5>
                                                                            <div class="content_price">
                                                                                <span class="price product-price">[[${product.currentSellingPrice}]]₫</span>
                                                                                <span class="price old-price">[[${product.price}]]₫</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="left-block">
                                                                            <a href="/san-pham/dam-body-ca-tinh-voi-nhieu-mau-sac-hien-dai-tre-trung.html">
                                                                            	<img class="img-responsive" th:src="${'http://localhost:8085/da/public/image/' + product.imageUrl}" style="height: 211px; object-fit:cover;">
                                                                            </a>
                                                                            <div class="quick-view">
                                                                                <a title="Add to my wishlist" class="heart" href="#"></a>
                                                                                <a title="Xem chi tiết" class="compare" href="/san-pham/dam-body-ca-tinh-voi-nhieu-mau-sac-hien-dai-tre-trung.html"></a>
                                                                                <a href="javascript:void(0);" class="qv-e-button btn-quickview-1 search" title="Xem nhanh" data-handle="/san-pham/dam-body-ca-tinh-voi-nhieu-mau-sac-hien-dai-tre-trung.html"></a>
                                                                            </div>
                                                                            <div class="add-to-cart">
                                                                                <a class="add-to-car" href="javascript:void(0);" onclick="AddToCard(51001,1)">Thêm vào giỏ</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </th:block>
                                                                    
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                                
                                
                            </div>
                        </div>

                </div>
            </div>
</th:block>
                                