<th:block th:fragment="home-slider">
	<div class="slideshow">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-3">
	            </div>
	            <div class="col-md-9 ">
	                <div id="home-slider">
	                    <div class="header-top-right">
	                        <div class="homeslider">
	                            <div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 450px;"><ul id="contenhomeslider" style="width: 515%; position: relative; transition-duration: 0.5s; transform: translate3d(-1800px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 900px;" class="bx-clone">
	                                <a href="#">
	                                    <img class="img-responsive" alt="03" src="http://runecom02.runtime.vn/Uploads/shop2198/images/slider/banner_silder_4.jpg">
	                                </a>
	                            </li>
	                            <li style="float: left; list-style: none; position: relative; width: 900px;">
	                                <a href="#">
	                                    <img class="img-responsive" alt="01" src="http://runecom02.runtime.vn/Uploads/shop2198/images/slider/banner_silder_2.jpg">
	                                </a>
	                            </li>
	                            <li style="float: left; list-style: none; position: relative; width: 900px;">
	                                <a href="#">
	                                    <img class="img-responsive" alt="02" src="http://runecom02.runtime.vn/Uploads/shop2198/images/slider/banner_silder_3.jpg">
	                                </a>
	                            </li>
	                            <li style="float: left; list-style: none; position: relative; width: 900px;">
	                                <a href="#">
	                                    <img class="img-responsive" alt="03" src="http://runecom02.runtime.vn/Uploads/shop2198/images/slider/banner_silder_4.jpg">
	                                </a>
	                            </li>
	                            <li style="float: left; list-style: none; position: relative; width: 900px;" class="bx-clone">
	                                <a href="#">
	                                    <img class="img-responsive" alt="01" src="http://runecom02.runtime.vn/Uploads/shop2198/images/slider/banner_silder_2.jpg">
	                                </a>
	                            </li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link active">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href=""><i class="fa fa-angle-left"></i></a><a class="bx-next" href=""><i class="fa fa-angle-right"></i></a></div></div></div>
	                        </div>
	                    </div>
	                </div>
	                <!--Begin-->
	                <!--End-->
	                </div>
	            </div>
	        </div>
	    </div>
</th:block>

